{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rooms list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Ldk</th>
                <th>Hostid</th>
                <th>Localisation</th>
                <th>Price</th>
                <th>Surface</th>
                <th>Equipements</th>
                <th>Description</th>
                <th>Typeid</th>
                <th>Statut</th>
                <th>Deviseid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td><a href="{{ path('rooms_show', { 'id': room.id }) }}">{{ room.id }}</a></td>
                <td>{{ room.title }}</td>
                <td>{{ room.lDK }}</td>
                <td>{{ room.hostId }}</td>
                <td>{{ room.localisation }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.surface }}</td>
                <td>{{ room.equipements }}</td>
                <td>{{ room.description }}</td>
                <td>{{ room.typeId }}</td>
                <td>{% if room.statut %}Yes{% else %}No{% endif %}</td>
                <td>{{ room.deviseId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rooms_show', { 'id': room.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rooms_edit', { 'id': room.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rooms_new') }}">Create a new room</a>
        </li>
    </ul>
{% endblock %}
