{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('dist/src/css/login.css') }}">
<div class="login">
    <h1 class="profile_header">Mon Profile</h1>
    <h2 class="profile_subtitle">Mes annonces</h2>
    <div class="profile_announces">
      {% for room in rooms %}
      <div class="profile_announces_one">
        <a href="{{ path('rooms_show', { 'id': room.id }) }}">
            <img class="profile_announces_one_image" src="{{ asset('images/rooms/' ~(room.imageName)) }}">
          </a>
        <p class="profile_announces_one_information profile_announces_one_title">
          <strong>Titre</strong> : {{ room.title }}
        </p>
        <p class="profile_announces_one_information profile_announces_one_localisation">
          <strong>Place</strong> : {{ room.localisation }}
        </p>
        <p class="profile_announces_one_information profile_announces_one_price">
          <strong>Price </strong> : {{ room.price }}
        </p>
        <p class="profile_announces_one_information profile_announces_one_surface">
          <strong>Surface </strong> : {{ room.surface }}
        </p>
        <p class="profile_announces_one_information profile_announces_one_equipements">
          <strong>Equipements</strong> : {{ room.equipements }}
        </p>
        <p class="profile_announces_one_information profile_announces_one_description">
          <strong>Description</strong> : {{ room.description }}
        </p>
        <div class="profile_announces_one_actions">
        <a href="{{ path('rooms_edit', { 'id': room.id }) }}">Modifier</a>
        <a href="{{ path('rooms_delete', { 'id': room.id }) }}">Supprimer</a>
        </div>
      </div>
      {% endfor %}
      <div class="profile_announces_new btn">
          <a href="{{ path('rooms_new') }}">Ajouter une annonce</a>
      </div>


    </div>

{% endblock %}
