{% extends 'base.html.twig' %}

{% block body %}
    <link href="/static/css/main.9a0fe4f1.css" rel="stylesheet">

    <div id="root"></div>
    <h3 style="text-align: center;">Nouvelles annonces</h3>
    <div class="cBkDJK">
      {% for room in recentRooms %}
        <a class="ijJnIG" href="{{ path('room_page_product',  {'roomId': room.id} ) }}">
          {% if room.imageName == ''  %}
            <img src="https://unsplash.it/600/200/?random" alt="" class="ceZQSL">
          {% else %}
            <img src="{{ asset( 'images/rooms/' ~ room.imageName  )}}" alt="" class="ceZQSL">
          {% endif %}

            <div>
                <h3 class="bKcxni"><!-- react-text: 73 -->{{room.ldk}}<!-- /react-text -->
                    <!-- react-text: 74 -->
                    •
                    <!-- /react-text -->
                    <!-- react-text: 75 -->
                    {{room.localisation}}<!-- /react-text --></h3>
                <h4 class="fqwEMC"><!-- react-text: 77 -->{{room.surface}} <!-- /react-text --><!-- react-text: 78 -->m2 •
                    <!-- /react-text -->
                    <!-- react-text: 79 -->
                    {{room.price}}<!-- /react-text --><!-- react-text: 80 -->
                   </h4>
            </div>
        </a>
        {% endfor %}

    </div>
    <div class="OnIBE"><img src="{{ asset("pub1.png")}}" alt=""><img src="{{ asset("pub2.png")}}" alt=""><img src="{{ asset("pub3.png")}}" alt=""></div>
    <h3 style="text-align: center;">Annonces du moment</h3>
    <div class="hiTrwk">
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 199 -->1DK<!-- /react-text -->
                <!-- react-text: 200 -->
                <!-- /react-text -->
                <!-- react-text: 201 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 203 -->120<!-- /react-text -->
                <!-- react-text: 204 -->
                <!-- /react-text -->
                <!-- react-text: 205 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 221 -->1DK<!-- /react-text -->
                <!-- react-text: 222 -->
                <!-- /react-text -->
                <!-- react-text: 223 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 225 -->120<!-- /react-text -->
                <!-- react-text: 226 -->
                <!-- /react-text -->
                <!-- react-text: 227 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 243 -->1DK<!-- /react-text -->
                <!-- react-text: 244 -->
                <!-- /react-text -->
                <!-- react-text: 245 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 247 -->120<!-- /react-text -->
                <!-- react-text: 248 -->
                <!-- /react-text -->
                <!-- react-text: 249 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 265 -->1DK<!-- /react-text -->
                <!-- react-text: 266 -->
                <!-- /react-text -->
                <!-- react-text: 267 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 269 -->120<!-- /react-text -->
                <!-- react-text: 270 -->
                <!-- /react-text -->
                <!-- react-text: 271 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 287 -->1DK<!-- /react-text -->
                <!-- react-text: 288 -->
                <!-- /react-text -->
                <!-- react-text: 289 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 291 -->120<!-- /react-text -->
                <!-- react-text: 292 -->
                <!-- /react-text -->
                <!-- react-text: 293 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 309 -->1DK<!-- /react-text -->
                <!-- react-text: 310 -->
                <!-- /react-text -->
                <!-- react-text: 311 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 313 -->120<!-- /react-text -->
                <!-- react-text: 314 -->
                <!-- /react-text -->
                <!-- react-text: 315 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
    </div>
    <style type="text/css">.kichkD {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #1B54FD;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
 }.beBDkE {
  position: absolute;
  top: 24.375px;
  left: 773.0169982910156px;
  border: 1px solid #1B54FD;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
 }.dzjUbZ {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
 }.esTscY {
  background: #1B54FD;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border: 1px solid black
 }.jCMHvl {
  background: #EDFF39;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.dpJigP {
  background: #E40909;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.jaGaXI {
  background: #F83CB6;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.eDOAcM {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 2.3125rem;
  height: 2.3125rem;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  background-color: #FFFFFF;
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  cursor: pointer;
  margin-top: .625rem;
 }.enoGdw {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
 }
.enoGdw > * {
  margin-left: .3rem;
  width: 1rem;
  height: 1rem;
}.ihqBzd {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  position: relative;
  margin-top: 4rem;
  height: 14.0625rem;
  width: 15.625rem;
  text-decoration: none;
  color: black;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
 }
.ihqBzd:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.50);
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}.blfiMe {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border-radius: 50%;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  background-color: #1B54FD;
  width: 4.25rem;
  height: 4.25rem;
 }.imgwsA {
  background-image: url('https://unsplash.it/200/300/?random');
  background-size: cover;
  background-position: center;
  width: 15.625rem;
  height: 8.9375rem;
 }.bRehpm {
  font-size: 1rem;
  margin: 0;
 }.kdxSdW {
  font-size: .75rem;
  color: #9E9E9E;
  margin: 0;
 }.ijJnIG {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  text-decoration: none;
  color: black;
  min-width: 15rem;
  background-color: white;
  margin-left: 1rem;
  box-shadow: 0 2px 4px black;
  border-radius: 5px;
  height: 5rem;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
 }
.ijJnIG:hover {
  box-shadow: 0 4px 6px black;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}.ceZQSL {
  width: 5rem;
  height: 5rem;
 }.bKcxni {
  font-size: 1rem;
 }.fqwEMC {
  font-size: .75rem;
 }.kHsUGO {
  background-image: url('/static/media/background.7d8ecb5e.jpg');
  background-repeat: repeat;
 }.RGjrY {
  position: absolute;
  right: 0;

 }.cAOwTl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  width: 13.0625rem;
  position: relative;
  background-color: white;
  border: 2px solid #FFFFFF;
  box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.36);
  padding: 1rem;
 }.eKtryz {
  font-size: .875rem;
  position: relative;
  text-align: center;
 }
.eKtryz::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 10%;
  height: 2px;
  background-color: black;
}.gimKJJ {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  width: 80%;
  margin: auto;
 }.cBkDJK {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  margin-left: 1rem;
  overflow: scroll;
  padding-bottom: 1rem;
 }.OnIBE {
  margin-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  overflow: scroll;
 }
.OnIBE > * {
  margin-left: 2rem;
  height: 10rem;
}.hiTrwk {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  max-width: 58.125rem;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  margin: auto;
 }.bxUJfm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
 }.iYBdct {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  min-height: 2rem;
  background: white;
  border: 1px solid #1B54FD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  font-size: 1rem;
  color: #1B54FD;
  letter-spacing: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  cursor: pointer;
  margin-top: 1rem;
 }
.iYBdct:hover {
  background-color: #1B54FD;
  color: white;
}.kafmcf {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  border: 1px solid black;
  font-size: .875rem;
  color: black;
  letter-spacing: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: .7rem;
 }

.kHsUGO {
  background: white;
}

 </style>
</div>
<script type="text/javascript" src="/static/js/main.js">
</script>

{% endblock %}
