{% extends 'base.html.twig' %}

{% block body %}
    <link href="/static/css/main.9a0fe4f1.css" rel="stylesheet">
    <div <div data-reactroot="" class="kHsUGO"> class="dzjUbZ">
        <div color="#1B54FD" class="esTscY"></div>
        <div color="#EDFF39" class="jCMHvl"></div>
        <div color="#E40909" class="dpJigP"></div>
        <div color="#F83CB6" class="jaGaXI"></div>
    </div>
    <div class="bxUJfm">
        <div class="cAOwTl">
            <h3 class="eKtryz">Voyageurs</h3>
            <div class="bxUJfm">
                <div class="kafmcf">-</div>
                <div class="kafmcf">+</div>
                <div><!-- react-text: 14 -->0<!-- /react-text -->
                    <!-- react-text: 15 -->
                    Adulte<!-- /react-text --><!-- react-text: 16 --><!-- /react-text --></div>
            </div>
            <div class="bxUJfm">
                <div class="kafmcf">-</div>
                <div class="kafmcf">+</div>
                <div><!-- react-text: 21 -->0<!-- /react-text -->
                    <!-- react-text: 22 -->
                    Enfant<!-- /react-text --><!-- react-text: 23 --><!-- /react-text --></div>
            </div>
            <h3 class="eKtryz">Nombre de pièces</h3>
            <div class="gimKJJ">
                <div color="#1B54FD" value="0" class="eDOAcM">1K</div>
                <div color="#1B54FD" value="0" class="eDOAcM">2K</div>
                <div color="#1B54FD" value="0" class="eDOAcM">3K</div>
                <div color="#1B54FD" value="0" class="eDOAcM">4K</div>
                <div color="#1B54FD" value="0" class="eDOAcM">1DK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">2DK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">3DK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">4DK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">1LDK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">2LDK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">3LDK</div>
                <div color="#1B54FD" value="0" class="eDOAcM">4LDK</div>
            </div>
            <h3 class="eKtryz">Superficié m2</h3>
            <div class="gimKJJ">
                <div color="#1B54FD" value="0" class="eDOAcM">10~20</div>
                <div color="#1B54FD" value="0" class="eDOAcM">21~35</div>
                <div color="#1B54FD" value="0" class="eDOAcM">36~55</div>
                <div color="#1B54FD" value="0" class="eDOAcM">56~75</div>
                <div color="#1B54FD" value="0" class="eDOAcM">76~100</div>
                <div color="#1B54FD" value="0" class="eDOAcM">+100</div>
            </div>
            <h3 class="eKtryz">Prix</h3>
            <label for="min-price">Prix min:</label><input type="number" step="100" id="min-price" value="30000">
            <label for="max-price">Prix max:</label><input type="number" step="100" id="max-price" value="1000000">
            <h3 class="eKtryz">Region</h3>
            <div>Choisissez une région sur la carte</div>
            <div color="#1B54FD" class="iYBdct">Rechercher</div>
        </div>
        <div class="kichkD">
            <div>None</div>
            <div>None</div>
        </div>
        <svg width="606" height="398" viewBox="0 0 606 398">
            <g transform="translate(-2)" fill="#1B54FD" fill-rule="evenodd">
                <path
                    d="M477.455 96.576v12.84c0 2.764-2.24 5.005-5 5.005h-15.23c-2.762 0-5-2.244-5-5.004V22.85c0-1.38.56-2.632 1.465-3.538.9-.906 2.15-1.466 3.535-1.466h23.384V5.006c0-2.765 2.236-5.006 4.998-5.006h87.766c2.762 0 5 2.234 5 5.006v12.84h24.434c2.762 0 5 2.235 5 5.007v15.18c0 .46-.062.908-.178 1.333.116.425.18.872.18 1.333v50.868c0 2.766-2.247 5.008-5.006 5.008h-125.35z"></path>
                <path d="M540.53 196.828V123.62c0-2.762-2.24-5-5.005-5H458.28c-2.76 0-5.004 2.24-5.004 5v82.378c0 2.762 2.24 5 5.005 5h24.43v28.588c0 2.762 2.242 5.003 5.006 5.003h47.81c2.772 0 5.003-2.24 5.003-5.004v-42.758z"></path>
                <path
                    d="M491.12 315.97h-3.153v19.153c0 2.757-2.24 4.992-5 4.992h-9.717v18.095c0 2.76-2.23 5-5.01 5h-11.006c-2.766 0-5.01-2.24-5.01-5v-54.836h-5.513c-2.76 0-4.997-2.24-4.997-5v-44.585c0-2.763 2.237-5.002 4.998-5.002h61.49c2.76 0 4.997 2.242 4.997 5v103.374c0 2.76-2.238 4.998-5.01 4.998H496.13c-2.766 0-5.01-2.246-5.01-4.998v-41.19z"></path>
                <path
                    d="M361.818 247.738H345.79c-2.748 0-4.997 2.24-4.997 5.006v3.392H327.92c-2.76 0-4.998 2.24-4.998 5.002v8.892c0 2.76 2.238 5 4.998 5h79.102v48.54c0 1.383.56 2.633 1.464 3.537.907.9 2.16 1.46 3.542 1.46h30.985c2.774 0 5.007-2.238 5.007-5v-10.992c0-2.755-2.242-5.002-5.007-5.002h-5.505V243.54H473.5c2.774 0 5.006-2.238 5.006-5v-18.34c0-2.754-2.24-5.002-5.006-5.002h-82.247v-10.748c0-2.76-2.236-4.998-4.993-4.998h-19.45c-2.755 0-4.992 2.238-4.992 4.998v43.29zm42.05-46.433c0-2.764 2.242-5.004 5-5.004h5.768c2.762 0 5 2.24 5 5.005v3.64c0 2.762-2.242 5.003-5 5.003h-5.768c-2.76 0-5-2.24-5-5.004v-3.64z"></path>
                <rect x="183.107" y="257.186" width="76.741" height="69.283" rx="5"></rect>
                <rect x="184.159" y="331.717" width="105.124" height="51.437" rx="5"></rect>
                <path
                    d="M266.155 290.777v-27.54c0-2.763 2.247-5 5.01-5h41.492c2.766 0 5.01 2.237 5.01 5v17.043h49.667c2.76 0 4.997 2.246 4.997 5v24.64c0 2.763-2.24 5-4.996 5h-26.54v64.284c0 2.762-2.232 5-4.995 5h-36.267c-2.758 0-4.994-2.236-4.994-5V326.47h-23.386c-2.76 0-5-2.243-5-4.996v-7.856c0-.654.127-1.278.355-1.85-.23-.57-.355-1.195-.355-1.847v-19.143z"></path>
                <path
                    d="M71.277 262.087c.028-2.756 2.298-4.99 5.055-4.99h94.106c2.764 0 5.004 2.24 5.004 4.997v115.99c0 2.76-2.243 4.997-4.998 4.997H127.05c-2.76 0-4.998-2.228-4.998-4.99V317.5c0-2.757-2.237-4.99-5-4.99h-41.29c-2.76 0-4.977-2.242-4.95-4.992l.465-45.43z"></path>
            </g>
        </svg>
    </div>
    <h3 style="text-align: center;">Nouvelles annonces</h3>
    <div class="cBkDJK">
      {% for room in recentRooms %}
        <a class="ijJnIG" href="{{ path('room_page_product',  {'roomId': room.id} ) }}">
          {% if room.imageName == ''  %}
            <img src="https://unsplash.it/600/200/?random" alt="" class="ceZQSL">
          {% else %}
            <img src="{{ asset( 'images/rooms/' ~ room.imageName  )}}" alt="" class="ceZQSL">
          {% endif %}

            <div>
                <h3 class="bKcxni"><!-- react-text: 73 -->{{room.ldk}}<!-- /react-text -->
                    <!-- react-text: 74 -->
                    •
                    <!-- /react-text -->
                    <!-- react-text: 75 -->
                    {{room.localisation}}<!-- /react-text --></h3>
                <h4 class="fqwEMC"><!-- react-text: 77 -->{{room.surface}} <!-- /react-text --><!-- react-text: 78 -->m2 •
                    <!-- /react-text -->
                    <!-- react-text: 79 -->
                    {{room.price}}<!-- /react-text --><!-- react-text: 80 --> {{room.currency.name}}<!-- /react-text --></h4>
            </div>
        </a>
        {% endfor %}

    </div>
    <div class="OnIBE"><img src="https://unsplash.it/600/200/?random" alt=""><img src="https://unsplash.it/600/200/?random" alt=""><img src="https://unsplash.it/600/200/?random" alt=""></div>
    <h3 style="text-align: center;">Annonces du moment</h3>
    <div class="hiTrwk">
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 199 -->1DK<!-- /react-text -->
                <!-- react-text: 200 -->
                <!-- /react-text -->
                <!-- react-text: 201 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 203 -->120<!-- /react-text -->
                <!-- react-text: 204 -->
                <!-- /react-text -->
                <!-- react-text: 205 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 221 -->1DK<!-- /react-text -->
                <!-- react-text: 222 -->
                <!-- /react-text -->
                <!-- react-text: 223 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 225 -->120<!-- /react-text -->
                <!-- react-text: 226 -->
                <!-- /react-text -->
                <!-- react-text: 227 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 243 -->1DK<!-- /react-text -->
                <!-- react-text: 244 -->
                <!-- /react-text -->
                <!-- react-text: 245 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 247 -->120<!-- /react-text -->
                <!-- react-text: 248 -->
                <!-- /react-text -->
                <!-- react-text: 249 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 265 -->1DK<!-- /react-text -->
                <!-- react-text: 266 -->
                <!-- /react-text -->
                <!-- react-text: 267 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 269 -->120<!-- /react-text -->
                <!-- react-text: 270 -->
                <!-- /react-text -->
                <!-- react-text: 271 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 287 -->1DK<!-- /react-text -->
                <!-- react-text: 288 -->
                <!-- /react-text -->
                <!-- react-text: 289 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 291 -->120<!-- /react-text -->
                <!-- react-text: 292 -->
                <!-- /react-text -->
                <!-- react-text: 293 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
        <a class="ihqBzd" href="annonce">
            <div color="#1B54FD" class="blfiMe">Spécial</div>
            <div class="imgwsA"></div>
            <h3 class="bRehpm"><!-- react-text: 309 -->1DK<!-- /react-text -->
                <!-- react-text: 310 -->
                <!-- /react-text -->
                <!-- react-text: 311 -->
                Shikoku<!-- /react-text --></h3>
            <h4 class="kdxSdW"><!-- react-text: 313 -->120<!-- /react-text -->
                <!-- react-text: 314 -->
                <!-- /react-text -->
                <!-- react-text: 315 -->
                150000<!-- /react-text --></h4>
            <div class="enoGdw">
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#1B54FD" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
                <svg viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12l-4.702 2.472.898-5.236L.392 5.528l5.257-.764L8 0l2.35 4.764 5.258.764-3.804 3.708.898 5.236" fill="#D8D8D8" fill-rule="evenodd"></path>
                </svg>
            </div>
        </a>
    </div>
    <style type="text/css">.kichkD {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #1B54FD;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
 }.beBDkE {
  position: absolute;
  top: 24.375px;
  left: 773.0169982910156px;
  border: 1px solid #1B54FD;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transition: all .3s;
  -webkit-transition: all .3s;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
 }.dzjUbZ {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
 }.esTscY {
  background: #1B54FD;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border: 1px solid black
 }.jCMHvl {
  background: #EDFF39;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.dpJigP {
  background: #E40909;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.jaGaXI {
  background: #F83CB6;
  width: 1rem;
  height: 1rem;
  border-radius: .3125rem;
  margin: .2rem;
  border:
 }.eDOAcM {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 2.3125rem;
  height: 2.3125rem;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  background-color: #FFFFFF;
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  cursor: pointer;
  margin-top: .625rem;
 }.enoGdw {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
 }
.enoGdw > * {
  margin-left: .3rem;
  width: 1rem;
  height: 1rem;
}.ihqBzd {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  position: relative;
  margin-top: 4rem;
  height: 14.0625rem;
  width: 15.625rem;
  text-decoration: none;
  color: black;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
 }
.ihqBzd:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.50);
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}.blfiMe {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border-radius: 50%;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
  background-color: #1B54FD;
  width: 4.25rem;
  height: 4.25rem;
 }.imgwsA {
  background-image: url('https://unsplash.it/200/300/?random');
  background-size: cover;
  background-position: center;
  width: 15.625rem;
  height: 8.9375rem;
 }.bRehpm {
  font-size: 1rem;
  margin: 0;
 }.kdxSdW {
  font-size: .75rem;
  color: #9E9E9E;
  margin: 0;
 }.ijJnIG {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  text-decoration: none;
  color: black;
  min-width: 15rem;
  background-color: white;
  margin-left: 1rem;
  box-shadow: 0 2px 4px black;
  border-radius: 5px;
  height: 5rem;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
 }
.ijJnIG:hover {
  box-shadow: 0 4px 6px black;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}.ceZQSL {
  width: 5rem;
  height: 5rem;
 }.bKcxni {
  font-size: 1rem;
 }.fqwEMC {
  font-size: .75rem;
 }.kHsUGO {
  background-image: url('/static/media/background.7d8ecb5e.jpg');
  background-repeat: repeat;
 }.RGjrY {
  position: absolute;
  right: 0;

 }.cAOwTl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  width: 13.0625rem;
  position: relative;
  background-color: white;
  border: 2px solid #FFFFFF;
  box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.36);
  padding: 1rem;
 }.eKtryz {
  font-size: .875rem;
  position: relative;
  text-align: center;
 }
.eKtryz::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 10%;
  height: 2px;
  background-color: black;
}.gimKJJ {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  width: 80%;
  margin: auto;
 }.cBkDJK {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  margin-left: 1rem;
  overflow: scroll;
  padding-bottom: 1rem;
 }.OnIBE {
  margin-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  overflow: scroll;
 }
.OnIBE > * {
  margin-left: 2rem;
  height: 10rem;
}.hiTrwk {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  max-width: 58.125rem;
  justify-content: space-around;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  margin: auto;
 }.bxUJfm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
 }.iYBdct {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  min-height: 2rem;
  background: white;
  border: 1px solid #1B54FD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  font-size: 1rem;
  color: #1B54FD;
  letter-spacing: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  cursor: pointer;
  margin-top: 1rem;
 }
.iYBdct:hover {
  background-color: #1B54FD;
  color: white;
}.kafmcf {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  align-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  border: 1px solid black;
  font-size: .875rem;
  color: black;
  letter-spacing: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: .7rem;
 }</style>
</div<script type="text/javascript" src="/static/js/main.08e17aa9.js">
</script>

{% endblock %}
