{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('dist/src/css/room-page.css') }}">

    <section class="carousel">
        <div class="items">
            {% if room.imageName is defined%}
            <div class="item" style="background: url('{{ asset( 'images/rooms/' ~ room.imageName )}}') no-repeat center center;min-height: 400px;background-size: cover;"></div>
            {% else %}
                <div class="item" style="background: url('http://union-ge.ch/wp-content/themes/professional-free/assets/images/placeholder2.jpg') no-repeat center center"></div>
            {% endif %}
        </div>
    </section>

    <header class="room-header">
        <div class="row">
            <div class="left">{{ room.ldk }}
                {{ room.localisation }}</div>
            <div class="right">{{ room.price }}{{ room.currency.name }}
                <span>{{ room.localisation }}</span>
            </div>
        </div>
        <div class="row">
            <div class="right">{{ room.surface }}
                m·2</div>
        </div>
    </header>

    <div class="room-infos container col-md-12">
        <h4>Appartement loué par <a href="">{{room.host.firstname ~ " " ~room.host.lastname}}</a></h4>
        <p>{{room.description}}</p>
        <p>
            <a href="mailto:{{ room.host.email }}"class="btn btn-primary btn-lg">Contacer le propriétaire</a>
            <a href="mailto:{{ room.host.email }}"class="btn btn-lg">Ajouter a ma wislist</a>
        </p>
    </div>
    <section class="room-infos">

        </div>
        <div class="desc">
        </div>
    </section>

{% endblock %}
